#origem::-webkit-input-placeholder {
   color: transparent !important;
}
#origem:-moz-placeholder {
   color: transparent !important;
}
#origem::-moz-placeholder {
   color: transparent !important;
}
#origem:-ms-input-placeholder {  
   color: transparent !important;
}

.container-map{
    position: relative;
	height: 80vh;
	top: 10px;
}

#map {
  height: 100%;
}
.noite{
	margin-top: 30px;	
	padding-right: 30px
}

.botao_find{
	margin: 15px 8px !important;
}

.data{
	text-align: center;
}